
<!DOCTYPE html>
<html lang="en">
<head>
  <base href="#base_href#" />

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>#page_title#</title>

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/highlight.js/8.7.0/styles/github.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <!--<button type="button" class="navbar-toggle collapsed">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--</button>-->

        <h3 class="comment"><a href="">#project_name#</a></h3>
      </div>
      <div class="col-md-8 col-lg-6">
        <h3><span>#user_name#</span></h3>
      </div>
    </div>
  </div>
</header>

<header class="menu-header">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8 col-lg-8 menu-border">
            <h4>General top menu</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container page-presentation">
  <div class="row">

    <div class="col-sm-12 col-md-4 col-lg-4 page-menu">
      <div class="hidden-sm hidden-xs">
        Page side menu!
      </div>
    </div>


    <div class="col-sm-12 col-md-8 col-lg-8 project-description">
      <span>Page body!</span>
    </div>
  </div>
</div>



<!-- javascript -->

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/highlight.js/8.7.0/highlight.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/highlight.js/8.7.0/languages/1c.min.js"></script>

<!-- custom -->
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
